:root {
    color-scheme: light dark;

    --text-default: #FFF;
    --text-muted: #ccc;
    --text-very-muted: #888;
    --text-primary: #3498db;
    --bg-default: #2d2d35;
    --border-default: #444;
    --text-link: #4AB3F4;
    --border-filedrop: #41a0ff;
    --border-filedrop-active: #44AAFF;
    
    --tile-bg: #222;
    --sort-btn-color: #DDDDDD;
    --progress-gray: #777;
    --sort-btn-hover-bg: #00000008;
    --sort-btn-hover-color: #FFF;
    
    --dots-color: #ccc;
    --dots-active-color: #FFF;
    --video-color: #a46bff;
    --audio-color: #47a2f8;

    --dropdown-bg: #333;
    --dropdown-border: #666;
    --dropdown-item-text: #CCC;
    --dropdown-item-hover-text:#FFF;
    --dropdown-item-hover-bg: #444;

    --bulk-select-color: #19345c;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--bg-default);
    color: var(--text-default);
    box-sizing: border-box;
}
a {
    all: unset;
    cursor: pointer; /* Optional: keeps the pointer cursor */
}
#app {
    height: 100%;
}

.text-muted{
    color: var(--text-muted);
}
.text-very-muted{
    color: var(--text-very-muted);
}

.context-menu {
    padding: 4px 0;
    display: flex;
    border-radius: 4px;
    z-index: 5;
    flex-direction: column;
    position: absolute;
    bottom: 100%;
    right: 0;
    background: var(--dropdown-bg);
    border: 1px solid var(--dropdown-border);
    box-shadow: 0 2px 4px -1px #0003,
        0 4px 5px #00000024,
        0 1px 10px #0000001f;
    text-align: left;
}

.menu-item {
    color: var(--dropdown-item-text);
    padding: 6px 12px 6px 12px;
    font-size: 14px;
    cursor: pointer;
    position: relative;
    white-space: nowrap;
}

.checkable>.menu-item {
    padding: 6px 12px 6px 24px;
}

.menu-item>span {
    position: absolute;
    top: 4px;
    left: 8px;
}

.menu-item:hover {
    color: var(--dropdown-item-hover-text);
    background: var(--dropdown-item-hover-bg);
}

#root {
    height: 100%;
}

.center-container {
    max-width: 800px;
    width: 100%;
    margin: auto;
}

.flex-container {
    height: 100%;
    display: flex; 
    flex-direction: column; 
    min-height: 1px;
}
p {
    margin: 0;
}
.colspan-2 {
  grid-column: 1 / -1;
}
.flex-grow{
    flex: 1 0 0
}
.text-center {
    text-align: center;
}

input[type=number]{
    max-width: 80px;
    height: 20px;
}
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type=text]{
    height: 20px;
}
.h-28{
    height: 28px;
}

video {
	width: 100%;
	height: 100%;
	object-fit: contain; /* Maintains aspect ratio while covering the container */
	object-position: center; /* Horizontally centers the video and aligns to the top */
}
@media (prefers-color-scheme: dark) {
	video {
		background-color: #000;
	}
}


.link {
    padding: 0 8px;
    color: var(--text-link);
}
.link:hover{
    text-decoration: underline;
}

.toast-container {
    position: fixed;
    bottom: 3vh;
    left: 8px;
    right: 8px;
    z-index: 1000;
    animation: toastfadein 0.3s ease-in-out 1 forwards
}
.toast-container.fadeout {
    position: fixed;
    bottom: 3vh;
    left: 8px;
    right: 8px;
    z-index: 1000;
    animation: toastfadeout 0.6s ease-in-out 1 forwards
}

.toast {
    word-break: break-all;
    overflow-wrap: break-word;
    max-width: 400px;
    padding: 8px 12px;
    margin: 0 auto;
    background: #ddd;
    color: #333;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 4px -1px #0003,
    0 4px 5px #00000024,
    0 1px 10px #0000001f;

}

.toast-error {
    background: #910808;
    color: #ffffff;
}


@keyframes toastfadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes toastfadeout {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.main-button {
  display: block;
  width: 90%;
  max-width: 360px;
  margin: 1rem auto;
  padding: 1.2rem 2rem;
  font-size: 1.25rem;
  font-weight: 600;
  color: #ffffff;
  background-color: #1a1a1a;
  border: none;
  border-radius: 0; /* Sharp corners */
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3); /* Subtle shadow */
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.main-button:hover {
  background-color: #222;
  cursor: pointer;
}

.footer-container {
    position: fixed;
    bottom: 0;
    left: 0; right: 0;
    z-index: 100;
    border-top: 1px solid var(--border-default);
    background-color: var(--bg-default);
    box-shadow: 0 -1px 3px rgba(0,0,0,0.4);
}
.footer {
    height: 36px;
    display: grid;
    align-items: center;
    padding: 0 6px;
    grid-template-columns: auto auto auto 1fr auto;
}
.preset-selector {
    max-width: 250px;
    min-width: 100px;
    margin-right: 12px;
}


.settings-num-item{
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 4px;
    align-items: center;
    margin: 4px 0;
    outline: 1px solid #444;
}
.settings-text-item{
    display: grid;
    gap: 4px;
    align-items: center;
    margin: 4px 0;
    outline: 1px solid #444;
}

.expand-label { 
    display: flex;
    justify-content: space-between;
    margin: 4px 0;
    padding: 6px 4px;
}

.expand-label:hover { 
    cursor: pointer !important;
    background-color: rgba(0,0,0,0.3)
}

.collapse-label { 
    display: flex;
    justify-content: space-between;
    padding: 6px 4px;
}

.collapse-label:hover { 
    cursor: pointer !important;
    background-color: rgba(0,0,0,0.3)
}
.setting-desc{
    padding: 0 4px 4px 2px;
}

.icon{
    display: inline-block;
    width: 18px;
    min-width: 18px;
    text-align: center;
    margin: -4px 0;
    user-select: none;
}
.icon.red {
    color: rgb(255, 45, 45);
}
.icon.green {
    color: rgb(46, 255, 46);
}
.icon.yellow {
    color: yellow;
}
.file-path {
    line-height: 0.95em;
}